.row{
    display: flex;
    align-items: stretch;
}

.row .label{
    flex: 0 0 auto;

}

.row .container{
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.row .dish{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pasta{
    background-color: blue;
}

.pizza{
    background-color: skyblue;
}

.momo{
    background-color: aqua;
}